.link-up-container{
    display: flex;
    position: absolute;
    /* min-height: 420px; */
    height: 78%;
    width: 85%; 
    /* padding: 5px; */
    background-color: antiquewhite;
}

.link-up-game{
    width: 75%;
    height: 100%;
    /* min-height: 420px; */
    /* background-color: #c0ec87; */

    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3,33.3%);
    grid-template-columns: repeat(3,33.3%);
    /* text-align: center; */
}

.item{
    font-size: 2em;
    text-align: center;
    border: 1px solid #e5e4e9;
    /* margin: auto; */
}

.link-up-info{

    height: 100%;
    /* min-height: 420px; */
    width: 25%;
    z-index: 9;
    background-color: #b8e9ad;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.score{

    height: 13.3%;
    width: 80%;
    background-color: #ddd;
    margin: auto;
}

.picture{
    height: 53.3%;
    width: 80%;
    background-color: azure;
    margin: auto;

}

.picture-info{
    height: 23.3%;
    width: 80%;

    background-color: aquamarine;
    margin: auto;

}